.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 400px;
}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.count-display {
    text-align: center;
    margin-bottom: 20px;
}